@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <!---Top Nav--->
    <NavMenu />
    <!-- Main -->
    <main class="flex-grow-1">
        <div class="container-fluid pt-3 banner-bg">
            @Body
        </div>
    </main>
    <!-- Footer-->
    <footer class="flex-shrink-0">
        <Footer/>
    </footer>
</div>
